<div class="footer">
    <p class="info">@2015 - <%- date(Date.now(), 'YYYY') %> <a href="index.html">Limlift</a>, Powered by <a href="https://hexo.io/" targer="_blank">Hexo</a> & Theme by Liary.</p>
</div>