<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <% if (theme.favicon){ %>
        <link href="<%- theme.favicon %>" rel="icon" type="image/x-icon" />
        <link href="<%- theme.favicon %>" rel="shortcut icon" type="image/x-icon" />
    <% } %>
    <link href='https://fonts.cat.net/css?family=Open+Sans' rel='stylesheet'>
    <link href="https://fonts.cat.net/css?family=Montserrat" rel="stylesheet">
    <%- css('css/style.css') %>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <title><%= config.title %></title>
</head>